<div id="podaci">
  <div id="imeprezime">
            <label style="font-size: 30px;">Ime: {{gost.Ime}}</label>
           <br>
            <label style="font-size: 30px;">Prezime: {{gost.Prezime}}</label>
        
 </div>
 <div id="mailtelefon">
            <label style="font-size: 30px;">Email: {{gost.Email}}</label>
            <br>
        <label style="font-size: 30px;">Telefon broj: {{gost.Telefon}}</label>
       
    </div>
      
    <div id="korisnickoIme">
        <label style="font-size: 30px;">Korisničko ime</label>
        <h2>{{gost.KorisnickoIme}}</h2>
      </div>
    </div>  
<br>
<h3>_____________________________________________________________________________________________________</h3>

<!-- IMPLEMENTIRATI -->

<!-- <div style="width: 100%;" *ngFor="let rezervacije of listaRezervacija">
 <div style="float: left; width: 25%;" id="lijevi"> 
<label>Ime i prezime {{rezervacije.Gost.Ime}}</label> -->
 <!-- <label>Soba: {{rezervacije.Soba.BrojSobe}}</label><br>
<label>Datum rezervacije: {{rezervacije.DatumRezervacije | date}}</label><br>
<label>Zavrsetak rezervacije: {{rezervacije.ZavrsetakRezervacije | date}}</label>
</div>
<div  style="float:left;padding-top:5px;width: 75%;"  id="desni"></div>
<img height="90px" width="150px" [src]="'data:image/jpeg;base64,'+rezervacije.Soba.Slika" class="img-responsive" /> 
</div>  -->
  