
<div style="background-color:blanchedalmond ;" class="card">
    <form [formGroup]="forma" (ngSubmit)="RegistrujSe()">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Uspjesno dodano!</strong> Uspjesno ste se registrovali.
        <button (click)="CloseClick()" type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="form-group">
        <label>Ime</label>
        <input type="text" formControlName="Ime" class="form-control">
        <span style="color:red" *ngIf="forma.get('Ime').touched && forma.get('Ime').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Prezime</label>
        <input type="text" formControlName="Prezime"  class="form-control">
        <span style="color:red" *ngIf="forma.get('Prezime').touched && forma.get('Prezime').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text"  formControlName="Email" class="form-control">
        <span style="color:red" *ngIf="forma.get('Email').touched && forma.get('Email').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Telefon</label>
        <input type="text" formControlName="Telefon"  class="form-control">
        <span style="color:red" *ngIf="forma.get('Telefon').touched && forma.get('Telefon').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Grad iz kog dolazite</label>
        <select class="form-control"  formControlName="GradId"  >
            <option>Odaberite grad</option>
          <option *ngFor="let grad of ListaGradova" [value]="grad.Id">
              {{grad.NazivGrada}}
          </option>
          <span style="color:red" *ngIf="forma.get('GradId').touched && forma.get('GradId').hasError('required')">Obavezno polje</span>
        </select>
    </div>
    <div class="form-group">
        <label>Korisnicko ime</label>
        <input type="text" formControlName="KorisnickoIme"  class="form-control">
        <span style="color:red" *ngIf="forma.get('KorisnickoIme').touched && forma.get('KorisnickoIme').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Lozinka</label>
        <input type="text" formControlName="Lozinka"  class="form-control">
        <span style="color:red" *ngIf="forma.get('Lozinka').touched && forma.get('Lozinka').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Potvrdi lozinku</label>
        <input type="text" formControlName="PotvriLozinku" class="form-control" >
        <span style="color:red" *ngIf="forma.get('PotvriLozinku').touched && forma.get('PotvriLozinku').hasError('required')">Obavezno polje</span>
    </div>

    <button [disabled]="!forma.valid" class="btn btn-primary">Dodaj</button>
</form>
</div>
